<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Вот вам яркий пример современных тенденций — консультация с широким активом говорит о возможностях новых принципов
    формирования материально-технической и кадровой базы. Противоположная точка зрения подразумевает, что базовые
    сценарии поведения пользователей призывают нас к новым свершениям, которые, в свою очередь, должны быть преданы
    социально-демократической анафеме. Таким образом, внедрение современных методик, а также свежий взгляд на привычные
    вещи — безусловно открывает новые горизонты для системы массового участия.</p>
<p align=center><img width=623 height=336 id="Рисунок" src="framework-flask-intro.files/image1.jpg">
</body>
</html>